/* Estilos Globais */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #1d232b;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1, h2, h3 {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    display: block;
}

/* Header */
.header {
    background-color: #1d232b;
    padding: 15px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px; /* Ajuste conforme necessário */
}


/* Hero */
.hero {
    padding: 50px 0;
    text-align: center;
}

.hero h1 {
    font-size: 3em;
    color: #ffffff;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    color: #d0d0d0;
}


/* Services */

.services {
    padding: 50px 0;
    background-color: #262e3b;
}

.services h2 {
    text-align: center;
}


.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

.service-card img {
    border-radius: 5px;
    height: 200px;
    object-fit: cover;
}



/* About Us */
.about-us {
    background-color: #222834;
    padding: 50px 0;
}

.about-us-content {
    display: flex;
    align-items: center;
    gap: 30px;
}

.about-us-image {
    flex: 1;
    max-width: 50%;
}


.about-us-text {
    flex: 1;
    max-width: 50%;
}


.about-us-image img {
    border-radius: 5px;
    height: 400px;
    object-fit: cover;
}



.about-us .contact-button {
    background-color: #a3e570;
    /* Green */
    color: #1d232b;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1rem;
}

.about-us .contact-button:hover {
    background-color: #8ecb5e;
}



/* Treatments */

.treatments {
    padding: 50px 0;
}


.treatments h2 {
    text-align: center;
}

.treatments-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

.treatment-card {
    background-color: #222834;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}


.treatment-card img {
    border-radius: 5px;
    height: 200px;
    object-fit: cover;
}


/* More Info */
.more-info {
    background-color: #262e3b;
    padding: 50px 0;
}

.more-info h2 {
    text-align: center;
}

.more-info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

.info-card {
    background-color: #222834;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.info-card img {
    border-radius: 5px;
    height: 200px;
    object-fit: cover;
}

.info-card.popular {
    background-color: #077451;
}


/* Testimonial Carousel */

.testimonial-carousel {
    padding: 50px 0;
    background-color: #222834;
    text-align: center;
}

.testimonial-container {
    position: relative;
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
}

.testimonial-slide {
    transition: transform 0.5s ease-in-out;
    text-align: center;
}

.testimonial-slide p {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    color: #d0d0d0;
    font-size: 1.1rem;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #888;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.dot.active-dot {
    background-color: #fff;
}


.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
    /* Prevents buttons from interacting with content */
}


.prev-button,
.next-button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    pointer-events: auto;
    /* Allows buttons to be clickable */
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.prev-button:hover,
.next-button:hover {
    opacity: 1;
}


/* Contact */

.contact {
    padding: 50px 0;
    background-color: #262e3b;
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.contact-text {
    flex: 1;
    max-width: 50%;
}

.contact-form {
    flex: 1;
    max-width: 50%;
}


.contact-form form {
    display: flex;
    flex-direction: column;
}


.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #4a4a4a;
    background-color: #4a4a4a;
    color: #fff;
    border-radius: 5px;
}


.contact-form textarea {
    resize: vertical;
    min-height: 100px;
}

.contact-form button {
    background-color: #a3e570;
    color: #1d232b;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.contact-form button:hover {
    background-color: #8ecb5e;
}

/* Patient Registration */
.patient-registration{
    padding: 50px 0;
}

.patient-registration h2{
    text-align: center;
}

.registration-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;

}

.registration-form input {
     margin-bottom: 15px;
     padding: 10px;
      border: 1px solid #4a4a4a;
        background-color: #4a4a4a;
     color: #fff;
      border-radius: 5px;
}


/* Appointment Scheduling */
.appointment-scheduling {
    padding: 50px 0;
}


.appointment-scheduling h2 {
  text-align: center;
}


.calendar-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.calendar {
     width: 300px;
     background-color: #222834;
     padding: 20px;
    border-radius: 5px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.calendar-header button {
   background-color: transparent;
    color: #fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.calendar-header h3{
    margin: 0;
}


.calendar-days {
   display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.calendar-days div {
  text-align: center;
   padding: 10px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;
}

.calendar-days div:hover {
 background-color: #4a4a4a;
}

.calendar-days div.selected{
 background-color: #a3e570;
    color: #1d232b;
}

.selected-time-slot{
   text-align: center;
    margin: 20px 0;
}

.selected-time-slot input[type="time"] {
    padding: 10px;
    background-color: #4a4a4a;
    border: none;
    border-radius: 5px;
    color: #fff;
}



.appointment-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;

}

.appointment-form select,  .appointment-form textarea{
  margin-bottom: 15px;
     padding: 10px;
      border: 1px solid #4a4a4a;
        background-color: #4a4a4a;
     color: #fff;
      border-radius: 5px;
}


 .appointment-form textarea{
      resize: vertical;
    min-height: 100px;
}

.appointment-form button {
     background-color: #a3e570;
    color: #1d232b;
     padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.appointment-form button:hover{
    background-color: #8ecb5e;
}



/* Appointment List */
.appointment-list{
   padding: 50px 0;
    background-color: #262e3b;
}

.appointment-list h2{
  text-align: center;
}

.appointment-list ul{
    list-style: none;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
}

.appointment-list li {
    background-color: #222834;
     padding: 20px;
    border-radius: 5px;
     margin-bottom: 10px;
     display: flex;
    justify-content: space-between;
     align-items: center;
}

.appointment-list li div{
   display: flex;
    flex-direction: column;
}


/* Location */

.location {
    padding: 50px 0;
}

.location-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.location-map {
    flex: 1;
    max-width: 50%;
    position: relative;
}

.location-map img {
    border-radius: 5px;
    height: 400px;
    object-fit: cover;
}


.location-pin {
    width: 30px;
    height: 30px;
    background-color: #a3e570;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.location-text {
    flex: 1;
    max-width: 50%;
}


/* Footer */
.footer {
    background-color: #1d232b;
    padding: 30px 0;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footer-logos {
    display: flex;
    gap: 20px;
}

.footer-logos img {
    width: 60px;
}


.footer p {
    font-size: 1rem;
    text-align: right;
    margin: 0;
    color: #d0d0d0;
}

.footer p span {
    font-weight: bold;
}


/* Responsividade */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5em;
    }


    .about-us-content,
    .location-content,
    .contact-content {
        flex-direction: column;
        text-align: center;
    }

    .about-us-image,
    .about-us-text,
    .location-map,
    .location-text,
    .contact-text,
    .contact-form {
        max-width: 100%;
    }

    .about-us-image img,
    .location-map img {
        height: auto;
    }

}